<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to  "Sample App", root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <%= link_to  "Home", root_path, class: 'nav-item nav-link active' %>
              <%= link_to  "Help", help_path, class: 'nav-item nav-link' %>
              <%= link_to  "About", about_path, class: 'nav-item nav-link' %>
              <%= link_to  "Login", signup_path, class: 'nav-item nav-link' %>
          </div>
      </div>
  </nav>
</header>